* {
  /* height: 0; */
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
#link-home {
  position: fixed;
  right: 20px;
  bottom: 30px;
  color: #fefae0;
  background-color: #606c38;
  border-radius: 50%;
  z-index: 100;
  font-size: 3em;
}

.header-itens {
  height: 40px;
  background-color: #001d3d;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-nav > a:hover {
  background-color: #000814;
  transition: color 0.7s ease;
}
.header-nav {
  display: flex;
  font-size: 25px;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.header-nav > a {
  padding: 8px;
  text-decoration: none; /* Remove a decoração padrão do link */
  color: white;
}

.content-profile {
  display: flex;
  color: #ffc300;
  gap: 25px;
  justify-content: center;
  background-image: url(./pexels-luis-gomes-546819.jpg);
  background-size: cover; /* Faz a imagem de fundo cobrir completamente o contêiner */
  background-position: center; /*Centraliza a imagem de fundo*/
  background-repeat: no-repeat;
  /* flex-direction: column; */
  align-items: center;
  /* padding: 25px; */
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.content-img {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
.content-img img {
  width: 200px;
  height: auto;
  border-radius: 16px;
}

.content-info {
  display: flex;
  padding: 50px;
  gap: 30px;
}
.info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 30px;
}
.content-phrase {
  display: flex;
  gap: 50px;
  background-color: #333;
  color: white;
}
.phrase {
  display: flex;
  /* align-items: center; */
  justify-content: center;
  flex-direction: column;
  padding-top: 30px;
  padding-right: 35px;
  gap: 15px;
}

section {
  background-color: #f5f5f5;
  padding: 40px;
  text-align: center;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

h2 {
  color: #333;
  font-size: 2em;
  margin-bottom: 20px;
}

.cursos {
  background-color: #001d3d;
}
.cursos > h2 {
  color: #ffc300;
}
.btn-cursos {
  border: none;
  background-color: #ffc300;
  cursor: pointer;
}
